ADMIN = 'john.doe@gmail.com'
DEBUG = True
SMS_ID = '00000000-0000-0000-0000-000000000000'
# SMS_FROM = 'DeadChannel'
GA_ID = 'UA-123456-7'
FAR_LIMIT = 7
SOON_LIMIT = 1

TWITTER_CONSUMER_KEY = None
TWITTER_CONSUMER_SECRET = None
TWITTER_ACCESS_TOKEN_KEY = None
TWITTER_ACCESS_TOKEN_SECRET = None

BITLY_NAME = None
BITLY_KEY = None

TZ = +4 # local hours relative to UTC
