{% extends "base.html" %}
{% block content %}
<h2>Подписка активирована</h2>
<p>Почтовый адрес {{ email }} успешно добавлен в список рассылки.</p>
<p>Сообщения будут приходить за неделю и за сутки до каждого события.&nbsp; Если вам надоест их получать, всегда можно <a href="/unsubscribe">отписаться</a> (ссылка будет в каждом сообщении).</p>
<p>Если возникнут пожелания, их можно отправить по электронной почте в ответ на одно из полученных сообщений.</p>
<p><a href="/">Вернуться к списку событий</a></p>
{% endblock %}
