<p>Кто-то попросил добавить этот адрес в список рассылки сайта {{ host }}.  Этот сайт напоминает о клубных событиях тёмной сцены за неделю и за сутки до каждого события, афишу на ближайшее будущее можно увидеть на главной странице сайта:</p>

<blockquote>{{ base }}</blockquote>

<p>Если запрос действительно исходит от тебя, подтвердить его можно здесь:</p>

<blockquote>{{ base }}subscribe/confirm/email?address={{ address }}&amp;code={{ code }}</blockquote>

<p>Если запрос сделан без твоего ведома, просто проигнорируй его, и мы ничего не будем присылать.</p>
